.sidebar{
  flex:0.30
}

.sidebar_header{
  display: flex;
  justify-content: space-between;
  border-right: 1px solid lightgray;
  padding: 20px;
}
.sidebar_headerRight{
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 10vw
}

.sidebar_search{
display: flex;
align-items: center;
background-color: #f6f6f6;
height:40px;
padding:10px;
}

.sidebar_searchContainer{
  display: flex;
  align-items: center;
  height:35px;
  width:100%;
  border-radius: 20px;
  background-color: white;
}

.sidebar_searchContainer > input{
  border:none;
  margin-left: 10px;
}
.sidebar_searchContainer > .MuiSvgIcon-root{
  color : gray;
  padding: 10px;
}
.sidebar_chats{
  flex:1;
  background-color: white;
  overflow: scroll;
  
}